@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2e2e2e;
  --color-secondary: #fde7b3;
  --color-success: #63a361;
  --color-warning: #f57c00;
  --color-accent: #5b532c;
}
* {
  font-family: "Poppins", sans-serif;
}
/* --color-secondary: #FDE7B3; 
Accent (highlight / icon / badge / small attention)
--color-accent: #FFC50F;
Use lightly — maybe icon hover, rating stars, or top notification.
Think of it like sunlight in your palette — little goes a long way.
Success (positive / confirmation / eco tone)
--color-success: #63A361;

👉 Use for "Shared", "Available", "Confirmed" states, or green badges.

Neutral Dark (text / footer / grounded look)
--color-dark: #5B532C;

👉 Use for dark text or footer backgrounds. Keeps it organic and trustworthy.
*/

.mtBtn {
  @apply bg-linear-to-r from-[#F57C00] to-[#FFB74D] text-primary rounded-lg font-bold transition-all duration-300 hover:opacity-90 hover:-translate-y-0.5 cursor-pointer;
}
